{% extends "core/page.html" %}

{% block base_title %}
Change Password
{% endblock %}

{% load crispy_forms_tags %}

{% block page_full_content %}
    <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
              Password Change Successful
          </h5>
        </div>
        <div class="card-body overflow-hidden p-4">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 text-center text-lg-left">
                <p>Your password has been changed. Please make note of this and store it in a safe location.</p>
            </div>
          </div>
        </div>
    </div>
{% endblock %}