{% extends "core/page.html" %}

{% block base_title %}
Change Password
{% endblock %}

{% load crispy_forms_tags %}

{% block page_full_content %}
    <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
              Password Change
          </h5>
        </div>
        <div class="card-body overflow-hidden p-4">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 text-center text-lg-left">
                <form method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn-success">Change My Password</button>
                </form>
            </div>
          </div>
        </div>
    </div>
{% endblock %}