{% extends 'core/page.html' %}

{% block page_content %}

    <div class="row p-0 m-0 w-100">
        <div class="ui-top bg-teal">
                {% include 'core/navigation/navigation_top_menu.html' %}
        </div>
    </div>

    <div class="row p-0 m-0 h-100">
        <div class="ui-left bg-teal">
                {% include 'core/navigation/navigation_side_menu.html' %}
        </div>


        <div class="ui-right bg-white p-2">
                {% block page_full_content %}
                {% endblock %}
        </div>
    </div>
{% endblock %}