{% extends 'core/page.html' %}

{% block page_content %}

    <div class="row p-0 m-0 w-100">
        <div class="ui-top bg-teal">
            <div class="row p-2">
                <div class="col">
                    {% url 'home' as the_url %}
                    {% include 'core/element/element_nav_button.html' with logo_only='fas fa-bars fa-2x fa-fw' a_class='float-left' href=the_url %}
                    <form class="md-form mr-2 p-0 active-search float-left">
                        <input class="form-control py-0" type="text" placeholder="Search" aria-label="Search" />
                        <span class="px-2 text-light">{{ bread_crumb }}</span>
                    </form>
                    {% url 'admin:index' as the_url %}
                    {% include 'core/element/element_nav_button.html' with logo_only='fas fa-cog fa-2x fa-fw' a_class='float-right' href=the_url target='_BLANK' %}
                    {% url 'home' as the_url %}
                    {% include 'core/element/element_nav_button.html' with logo_only='fas fa-user fa-2x fa-fw' a_class='float-right' href=the_url %}
                </div>
            </div>
        </div>
    </div>

    <div class="row p-0 m-0 h-100">
        <div class="ui-left bg-teal">
            <div class="row pl-2 pt-1">
                <div class="col">
                    {% url 'container_list_view' container_pk=0 as the_url %}
                    {% include 'core/element/element_nav_button.html' with logo_only='fas fa-home fa-2x fa-fw' href=the_url %}
                    {% if container.parent is not None %}
                        {% url 'container_list_view' container_pk=container.parent_id as the_url %}
                    {% else %}
                        {% url 'container_list_view' container_pk=0 as the_url %}
                    {% endif %}
                    {% include 'core/element/element_nav_button.html' with logo_only='fas fa-arrow-up fa-2x fa-fw' href=the_url %}
                    {% url 'container_add_form' as the_url %}
                    {% include 'core/element/element_nav_button.html' with logo_only='far fa-plus-square fa-2x fa-fw' href=the_url %}
                    {% url 'item_add_form' as the_url %}
                    {% include 'core/element/element_nav_button.html' with logo_only='fas fa-plus fa-2x fa-fw' href=the_url %}
                    {% url 'home' as the_url %}
                    {% include 'core/element/element_nav_button.html' with logo_only='fas fa-expand-arrows-alt fa-2x fa-fw' href=the_url %}
                    {% url 'home' as the_url %}
                    {% include 'core/element/element_nav_button.html' with logo_only='fas fa-comment fa-2x fa-fw' href=the_url %}
                    {% url 'home' as the_url %}
                    {% include 'core/element/element_nav_button.html' with logo_only='fas fa-users fa-2x fa-fw' href=the_url %}
                </div>
            </div>
        </div>

        <div class="ui-right bg-white p-2">
            {% block page_full_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}