.ui-top {
    background: #FF0000;
    height: 66px;
    width: 100vw;
}

.ui-left {
    background: #00FF00;
    width: 66px;
    height: calc(100% - 66px);
}

.ui-right {
    background: #0000FF;
    width: calc(100% - 66px);
    height: calc(100% - 66px);
}

@media only screen and (min-width: 768px) {

    .ui-top {
        height: 66px;
        width: 100vw;
    }

    .ui-left {
        width: 66px;
        height: calc(100% - 66px);
    }

    .ui-right {
        width: calc(100% - 66px);
        height: calc(100% - 66px);
    }

}

.active-search input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 2px solid #EF767A;
    width: calc(100vw - 214px);
}

.active-search input.form-control[type=text] {
    width: calc(100vw - 214px);
}

.bg-blue {
    background: #5AA9E6;
}

.bg-pink {
    background: #EF767A;
}

.bg-teal {
    background: #00919D;
}

.bg-yellow {
    background: #FFE94F;
}

.bg-purple {
    background: #6665DF;
}

.bg-orange {
    background: #FA8334;
}

.bg-white {
    background: #FAFAFA;
}