{% extends 'core/card/card_title.html' %}

{% block card_title %}
    {{ container.parent.name }} << {{ container.name }}
{% endblock %}

{% block card_content %}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce bibendum pellentesque purus eget mattis. Nullam bibendum dolor ac placerat lacinia. Aenean sodales at diam sit amet feugiat. Nulla dignissim tempor turpis, at bibendum turpis sodales sed. Vestibulum eu nulla id tortor tempor elementum vitae eu tellus. Duis neque libero, ultrices porta ultrices quis, elementum vel sem.
{% endblock %}