{% extends 'core/card/card_title.html' %}

{% block card_title %}
    <a href="{% url 'container_list_view' container_pk=container.pk %}">{{ container.name }}</a>
{% endblock %}

{% block card_content %}
    {% for children in container.children_list %}
        <a href="{% url 'container_list_view' container_pk=children.pk %}">{{ children.name }}</a><br />
    {% endfor %}
    {% for item in container.item_list %}
        <a href="{% url 'item_edit_form' container_pk=container.parent_id pk=item.pk %}">{{ item.name }}</a><br />
    {% endfor %}
{% endblock %}